name: Check

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  RUST_BACKTRACE: 1

jobs:
  check:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust Toolchain
        run: |
          rustup toolchain install nightly
          rustup +nightly component add clippy
      - name: Check clippy default
        run: |
          cargo +nightly clippy --all-targets -- -Dwarnings
      - name: Check clippy cyper
        run: |
          cargo +nightly clippy --all-targets --no-default-features --features cyper -- -Dwarnings
      - name: Check Docs
        run: |
          cargo +nightly doc --workspace --no-deps
